.row {
    width: 100%;
}
// Top section
#top {
    padding: 190px 164px 314px 165px;
    position: relative;
    p {
        margin-bottom: 0;
    }
    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        padding: 0;
        display: flex;
        .black-rect, .image-hero {
            height: 100%;
            width: 33%;
        }
        .black-rect {
            background-color: #151515;
        }
        .image-hero {
            background: url('../assets/desktop/image-hero.jpg') no-repeat;
            background-size: 80% 100%;
        }
    }
    .title {
        font-size: 96px;
        font-weight: 900;
        line-height: 88px;
        color: white;
        mix-blend-mode: difference;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display', normal;
    }
    .info {
        font-size: 22px;
        font-weight: 300;
        line-height: 32px;
        font-family: 'Outfit', normal;
        color: #444444;
    }
    .button-group {
        display: flex;
        margin-top: 64px;
        width: 260px;
        height: 72px;
        button {
            background-color: #151515;
            text-transform: uppercase;
            border: none;
            padding: 24px 35px;
            border-radius: 0;
        }
        span {
            background: url('../assets/icon-arrow-right.svg') center center no-repeat;
            background-color: #D5966C;
            padding: 36px;
            height: 100%;
        }
    }
}

// Middle section
#gallery {
    margin-top: 160px;
    & > div {
        padding: 0;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            font-family: 'Big Shoulders Display', normal;
            font-size: 60px;
            font-weight: 900;
            line-height: 60px;
            color: #151515;
        }
        p:not(.title) {
            font-family: 'Outfit', normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 32px;
            color: #444444;
        }
    }
    #grid-bottom {
        margin-top: 30px;
        & > div {
            display: grid;
            grid-template-columns: calc(55% - 30px) 45%;
            grid-template-rows: 50% 50%;
            gap: 30px;
            & > * {
                padding: 0;
            }
            .row-2 {
                grid-row: 1 / span 2;
            }
            img {
                width: 100%;
                height: 100%;
            }
            .info {
                padding: 65px 47px;
                background-color: #151515;
                .title, p:not(.title) {
                    color: #FFFFFF;
                }
            }
        }
    }
}

// Footer
#footer {
    background-color: #151515;
    color: #FFFFFF;
    margin-top: 180px;
    padding: 80px 165px;
    .title {
        font-family: 'Big Shoulders Display', normal;
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
        p {
            margin-bottom: 0;
        }
    }
    .info {
        font-family: 'Outfit', normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }
    .icons {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        img {
            margin-left: 20px;
        }
    }
}

// Tablet
@media only screen and (max-width: 992px) {
    #top {
        padding: 145px 40px 145px 389px;
        .image-container {
            .black-rect {
                display: none;
            }
            .image-hero {
                background: url('../assets/tablet/image-hero.jpg') no-repeat;
                background-size: contain;
                width: 100%;
            }
        }
        .title {
            font-size: 70px;
            line-height: 65px;
        }
        .info {
            font-size: 18px;
            line-height: 28px;
        }
        .info, .button-group {
            margin-top: 48px;
        }
    }
    #gallery {
        margin-top: 120px;
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .info {
            .title {
                font-size: 50px;
                line-height: 45px;
            }
            p:not(.title) {
                font-size: 18px;
                line-height: 28px;
            }
        }
        #grid-bottom {
            margin-top: 11px;
            & > div {
                grid-template-columns: calc(55% - 11px) 45%;
                gap: 11px;
            }
        }
    }
    #footer {
        padding: 56px 39px;
    }
}

// Mobile
@media only screen and (max-width: 576px) {
    #top {
        padding: 0 16px;
        padding-top: 272px;
        width: 100%;
        position: initial;
        display: flex;
        .image-container {
            .image-hero  {
                background: url('../assets/mobile/image-hero.jpg') no-repeat;
                background-size: 100%;
            }
        }
        .info, .title {
            padding-right: 0;
            width: 100%;
        }
        .title {
            font-size: 60px;
            line-height: 55px;
            color: #151515;
            mix-blend-mode: normal;
        }
    }
    #gallery {
        #grid-top {
            .info {
                margin-top: 25px;
            }
        }
        #grid-bottom {
            margin-top: 32px;
            & > div {
                grid-template-columns: auto;
                grid-template-rows: auto;
                gap: 16px;
            }
        }
    }
    #footer {
        .info {
            margin-top: 38px;
        }
        .icons {
            justify-content: flex-start;
            margin-top: 38px;
            img {
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }
}